@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Youbiquitous.Minimo.Resources
@using Youbiquitous.Minimo.ViewModels.UI
@model Youbiquitous.Minimo.ViewModels.SimpleViewModelBase

@{
    Layout = $"{RazorPaths.Layout("_layout_Simple")}";
}

@section adhoc_css {
    <link href="/css/lib/jquery-confirm.min.css" rel="stylesheet" />
}

@section adhoc_scripts_bottom {
@*     <script src="/js/lib/jquery-confirm.min.js"></script>
 *@    <script src="/js/lib/ybq/ybq-forms-v24.min.js"></script>
    <script src="/js/app-assets/account/minimo-pswd.min.js"></script>
    @* <script src="/js/lib/ybq/hospi-ybq-dialog.min.js"></script> *@
}



<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-8 col-xl-6 p-3">
            <div class="card">
                <div class="card-header">
                    <div class="h4 text-center bold">@(AppMenu.ForgotPassword)?</div>
                </div>
                <div class="card-body">
                    <div class="text-center">
                        <div><i class="fa fa-lock fa-2x"></i></div>
                        <h3 class="text-center">@AppStrings.Label_RecoverPassword</h3>
                        <p>@AppStrings.Label_TypeRegistrationEmail</p>

                        <div class="card-body">
                            <form id="recover-form" role="form" 
                                  autocomplete="off"
                                  action="/send/link/reset/password"
                                  method="post" 
                                  asp-antiforgery="true">

                                <floating-input label="@AppStrings.Label_Email">
                                    <input type="email" 
                                           class="form-control text-lowercase"
                                           id="email" name="email"
                                           autofocus
                                           autocomplete="off"
                                           data-ui-error="Invalid email"
                                           data-ui-feedback="#email-error"
                                           data-click-on-enter="#trigger-send-pswd-link">
                                </floating-input>
                                <div class="text-danger" id="email-error"></div>
                                
                                @* <input type="text" id="haz" />
                                <input type="number" id="num" min="3" marx="5" /> *@

                                <!-- Needed to prevent auto submit with 1 input field on enter -->
                                <input type="text" class="d-none" />
                                
                                <div class="text-danger d-none" id="message"></div>
                                <div class="mt-4">
                                    <submit-button 
                                        message-timeout="3"
                                        feedback-element="#message"
                                        feedback-text="It did fail"
                                        action="ShowFeedback"
                                        action-parameter="postOk"
                                        validation-expression="#email:valid">
                                        @AppMenu.Proceed
                                    </submit-button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="card-footer d-none d-sm-block">
                    <div class="d-flex justify-content-end text-dark">
                        <span class="me-1">@AppStrings.Label_NeedHelp</span>&nbsp;
                        <a href="mailto:@(Model.Settings.General.ContactEmail)">@AppMenu.ContactUs</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* <partial name="pv_x_msgs" /> 
 *@
